* {
  margin: 0;
  padding: 0; }

.divheight {
  height: 90px; }

.Titulo {
  padding-top: 20px; }
  .Titulo a {
    font-size: 50px;
    text-decoration: none; }

label {
  margin-top: 10px; }

button {
  margin-bottom: 10px; }

footer {
  padding: 20px;
  font-size: 12px; }

/* Variables */
/* Maps colores */
/* Maps */
.negro {
  background-color: black; }

.blanco {
  color: white; }

.Titulo a {
  color: white; }

.TextColor a {
  color: grey;
  font-size: 15px; }

.TextColor a:hover {
  color: #51708a; }

footer {
  color: white; }

body {
  font-family: 'Oswald', sans-serif; }

h2 {
  padding: 20px 0px; }

h3 {
  padding-bottom: 10px; }

/* Mixins */
.ulHistory {
  font-size: 18px;
  color: black; }

/*Extend*/
.iframeHome, .videoHome {
  padding-top: 20px; }

.videoHome {
  margin-top: 5px;
  border-radius: 5px; }

.slide {
  margin-top: 10px; }
  .slide img {
    height: 65vh; }

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px; }
  #galeria .col-lg-4 img {
    width: 100%;
    height: 250px; }

#galeria img:hover {
  border: 5px solid white; }

#videos .col-lg-4 {
  margin: 0;
  padding: 20px; }

#videos iframe {
  width: 100%;
  height: 300px; }

#videos iframe:hover {
  border: 5px solid white; }

ul {
  list-style: none; }
  ul li {
    text-decoration: none;
    display: inline-block; }
    ul li img {
      width: 30px;
      height: 30px;
      padding: 5px;
      margin-top: 12px; }

@media (min-width: 750px) and (max-width: 900px) {
  .medidaDiv {
    width: 100%;
    height: 710px; } }
