/* Variables */
$color_letras2: white;
$color-nav: grey;

/* Maps colores */
$color_fondo:(negro:black);
$color_letras:(blanco:white);


/* Maps */
@each $clave, $valor in $color_fondo {
    .#{$clave} {
        background-color: $valor;
    }
    
}

@each $clave2, $valor2 in $color_letras {
    .#{$clave2} {
        color: $valor2;
    }
}

.Titulo{
    a{
        color: $color_letras2;
    }
}

.TextColor a{
    color: $color-nav;
    font-size: 15px;
}

.TextColor  a:hover{
    color: rgb(81, 112, 138)
}

footer{
    color: $color_letras2;
}