*{
    margin: 0;
    padding: 0;
}

.divheight{
    height: 90px;
}

.Titulo{
    padding-top: 20px;
        a{
            font-size: 50px;
            text-decoration: none;
        }
}
label{
    margin-top: 10px;
}

button{
    margin-bottom: 10px;
}

footer{
    font-size: 12px;
}